{% extends 'shortener/layout.html' %}

{% block style %}
<style type="text/css">
	.input-group {
	  flex-wrap: wrap!important;
	}

	.input-group .invalid-feedback {
	  flex-basis: 100%;
	}

	.input-group .input-group-addon:nth-child(3) {
	    border-left: 0!important;
	    border-right: 1px solid rgba(0,0,0,.15);
	    border-radius: .25rem!important;
	    border-top-left-radius: 0!important;
	    border-bottom-left-radius: 0!important;
	}
</style>
{% endblock %}

{% block content %}
<div class="row form">
	<div class="col-sm-6 mx-auto">
		<form method="POST" class="my-ajax-form" data-url='{{ request.build_absolute_uri|safe }}' action="." novalidate>
		{% include 'shortener/url_form.html' %}
	    </form>
	</div>
</div>

<div class="row shorten_url" style="display: none;">
	<div class="col-sm-4 mx-auto">
		<div class="input-group">
		  <input type="text" id="foo" class="form-control" value="" readonly>
		  <span class="input-group-btn">
		    <button id="copy-button" class="btn btn-primary" data-clipboard-text="" type="button" data-toggle="tooltip" data-placement="bottom" title="Copied!">Copy</button>
		  </span>
		</div>
	<div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">

	function getCookie(name) {
	    var cookieValue = null;
	    if (document.cookie && document.cookie !== '') {
	        var cookies = document.cookie.split(';');
	        for (var i = 0; i < cookies.length; i++) {
	            var cookie = jQuery.trim(cookies[i]);
	            // Does this cookie string begin with the name we want?
	            if (cookie.substring(0, name.length + 1) === (name + '=')) {
	                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
	                break;
	            }
	        }
	    }
	    return cookieValue;
	}

	var csrftoken = getCookie('csrftoken');

	function csrfSafeMethod(method) {
	    // these HTTP methods do not require CSRF protection
	    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}
	$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
	});

	$(document).ready(function(){
	    var $myForm = $('.my-ajax-form')
	    $myForm.submit(function(event){
	        event.preventDefault()
	        var $formData = $(this).serialize()
	        var $thisURL = $myForm.attr('data-url')
	        $.ajax({
	            method: "POST",
	            url: $thisURL,
	            data: $formData,
	            success: handleFormSuccess,
	            error: handleFormError,
	        })
	    })

	    function handleFormSuccess(data, textStatus, jqXHR){
	        var url = data.message
	        $("#foo").attr('value',url);
	        $("#copy-button").attr('data-clipboard-text',url);
	        $(".form").remove();
	        $(".shorten_url").fadeIn("slow");
	    }

	    function handleFormError(jqXHR, textStatus, errorThrown){
	    	var urlError = jqXHR.responseJSON.url
	    	if (urlError) {
	    		urlError = urlError[0]
	    		$("#id_url").addClass("is-invalid");
	    		$(".invalid_url").html(urlError);
	    	}
	    	else{
	    		$("#id_url").removeClass("is-invalid");
	    		$(".invalid_url").empty();
	    		$("#id_url").addClass("is-valid");
	    	}
	    	var shortUrlError = jqXHR.responseJSON.short_url
	    	if (shortUrlError) {
	    		shortUrlError = shortUrlError[0]
	    		$("#id_short_url").addClass("is-invalid");
	    		$(".invalid_short_url").html(shortUrlError);
	    	}
	    	else{
	    		$("#id_short_url").removeClass("is-invalid");
	    		$(".invalid_short_url").empty();
	    		$("#id_short_url").addClass("is-valid");
	    	}
	    }
	})

	var clipboard = new Clipboard('#copy-button');
	$('#copy-button').tooltip({
	  trigger: 'click',
	  placement: 'bottom'
	});

	function hideTooltip(btn) {
	  setTimeout(function() {
	    $(btn).tooltip('hide');
	  }, 1000);
	}

	function setTooltip(btn, message) {
	  $(btn).tooltip('hide')
	    .attr('data-original-title', message)
	    .tooltip('show');
	}

	clipboard.on('success', function(e) {
	  setTooltip(e.trigger, 'Copied!');
	  hideTooltip(e.trigger);
	});

	clipboard.on('error', function(e) {
	  setTooltip(e.trigger, 'Failed!');
	  hideTooltip(e.trigger);
	});


</script>
{% endblock %}

