{% extends 'shortener/layout.html' %}

{% block style %}
<style type="text/css">
	.input-group {
	  flex-wrap: wrap!important;
	}

	.input-group .invalid-feedback {
	  flex-basis: 100%;
	}

	.input-group .input-group-addon:nth-child(3) {
	    border-left: 0!important;
	    border-right: 1px solid rgba(0,0,0,.15);
	    border-radius: .25rem!important;
	    border-top-left-radius: 0!important;
	    border-bottom-left-radius: 0!important;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-sm-6 mx-auto">
		<form method="POST" action="" novalidate>
		{% include 'shortener/url_form.html' %}
	    </form>
	</div>
</div>
{% endblock %}
