{% extends 'shortener/layout.html' %}
{% load static %}

{% block style %}
<style type="text/css">
	.input-group {
	  flex-wrap: wrap!important;
	}

	.input-group .invalid-feedback {
	  flex-basis: 100%;
	}

	.input-group .input-group-addon:nth-child(3) {
	    border-left: 0!important;
	    border-right: 1px solid rgba(0,0,0,.15);
	    border-radius: .25rem!important;
	    border-top-left-radius: 0!important;
	    border-bottom-left-radius: 0!important;
	}

	#id_short_url{
		border-top-right-radius: .25rem;
		border-bottom-right-radius: .25rem;
	}

</style>
{% endblock %}

{% block content %}
<div class="row form">
	<div class="col-lg-6 col-md-8 col-sm-12 mx-auto">
		<form method="POST" class="my-ajax-form" data-url='{{ request.build_absolute_uri|safe }}' action="." novalidate>
		{% include 'shortener/url_form.html' %}
	    </form>
	</div>
</div>

<div class="row shorten_url" style="display: none;">
	<div class="col-sm-5 mx-auto">
		<div class="input-group">
		  <input type="text" id="foo" class="form-control" value="" readonly>
		  <span class="input-group-btn">
		    <button id="copy-button" class="btn btn-primary" data-clipboard-text="" type="button" data-toggle="tooltip" data-placement="bottom" title="Copied!">Copy</button>
		  </span>
		</div>
		<p class="lead mt-3">Have another link to shorten? <span class="ml-4"><a href="/">Yes</a></span></p>

	<div>
</div>
{% endblock %}

{% block script %}

<script type="text/javascript" src="{% static 'shortener/js/ajaxForm.js' %}"></script>

<script type="text/javascript" src="{% static 'shortener/js/clip.js' %}"></script>

{% endblock %}

