{% extends 'shortener/layout.html' %}

{% block messages %}
	{% if messages %}
		<div class="row">
			<div class="col-lg-10 col-md-10 mx-auto">
		    {% for message in messages %}
			   <div class="alert alert-success alert-dismissible fade show" role="alert">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				  {{ message }}
				</div>
		    {% endfor %}
			</div>
		</div>		
		{% endif %}
		{% endblock %}
{% block content %}

{% if urls %}
	<div class="row" id="startchange">
		<div class="col-lg-10 col-md-10 mx-auto">
			<p class="h3">Click On the URL to delete it!</p>
			<table class="table table-hover table-responsive">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Url</th>
			      <th scope="col">short url</th>
			      <th scope="col">Hit Count</th>
			    </tr>
			  </thead>
			  <tbody>
			  	{% for url in urls %}
					<tr>
						<th scope="row">{{ forloop.counter }}</th>
						<td><a href="{% url 'delete' short_url=url.short_url %}" class="text-white">{{ url.get_full_url }}</a></td>
						<td>{{ url.short_url }}</td>
						<td>{{ url.count }}</td>
						{% endfor %}
					</tr>
			</table>
		</div>
	</div>

{% else %}
	<div class="row">
		<div class="col-lg-8 col-md-8 mx-auto text-center">
			<p class="h3">No shortened URL's yet!</p>
			<a class="lead text-center" href="/">Add Some?</a>
		</div>
	</div>
{% endif %}
{% endblock %}

{% block script %}
	<script type="text/javascript">
		$(document).ready(function(){
			$(window).scroll(function() { 
			if ($(document).scrollTop() > 50) { 
			  $(".navbar").css("background-color", "grey"); 
			} else {
			  $(".navbar").css("background-color", "transparent");
			}
		});
	});
	var ht = $('#startchange').height()
	if(ht > 590){
		$('body').css('padding-top','200px');
	}
	</script>
{% endblock %}
