{% load widget_tweaks %}
{% for hidden_field in form.hidden_fields %}
	{{ hidden_field }}
{% endfor %}

{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      {% for error in form.non_field_errors %}
        {{ error }}
      {% endfor %}
    </div>
{% endif %}

{% if form.is_bound %}
	{% if form.url.errors %}
	<div class="form-group">
		<label class="lead">{{form.url.label}}</label>
			{% render_field form.url class="form-control is-invalid" %}
			{% for error in form.url.errors %}
	            <div class="invalid-feedback">
	              {{ error }}
	            </div>
	        {% endfor %}
	        <small class="form-text text-white">{{form.url.help_text}}</small>
    </div>
	{% else %}
	<div class="form-group">
		<label class="lead">{{form.url.label}}</label>
			{% render_field form.url class="form-control is-valid" %}
			<small class="form-text text-white">{{form.url.help_text}}</small>
	</div>
	{% endif %}
	{% if form.short_url.errors %}
	<div class="form-group">
		<label>Customize your short link (optional):</label>
		 <div class="input-group">
		 	<span class="input-group-addon">www.slimtrim.co/</span>
			{% render_field form.short_url class="form-control is-invalid" %}
			{% for error in form.short_url.errors %}
	            <div class="invalid-feedback custom">
	              {{ error }}
	            </div>
	        {% endfor %}
		</div>
    </div>
	{% else %}
	<div class="form-group">
	    <label>Customize your short link (optional):</label>
	    <div class="input-group">
	    	<span class="input-group-addon">www.slimtrim.co/</span>
	    	{% render_field form.short_url class='form-control is-valid' %}
	    </div>
  	</div>
	{% endif %}
	<button type="submit" class="btn btn-primary">Shorten</button>

{% else %}
	<div class="form-group">
	    <label class="lead">{{form.url.label}}</label>
	    {% render_field form.url class='form-control' placeholder='Paste a link to shorten it' autofocus=""%}
	   	<small class="form-text text-white">{{form.url.help_text}}</small>
	</div>
  	<div class="form-group">
	    <label>Customize your short link (optional):</label>
	    <div class="input-group">
	    	<span class="input-group-addon">www.slimtrim.co/</span>
	    	{% render_field form.short_url class='form-control' %}
	    </div>
  	</div>
  <button type="submit" class="btn btn-primary">Shorten</button>
{% endif %}