{% extends 'shortener/layout.html' %}
{% load crispy_forms_tags %}

{% block style %}
<style type="text/css">
	.asteriskField {
		display: none;
	}
	#hint_id_new_password1{
		display: none;
	}
</style>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 mx-auto">
		<h3 class="h2">Set a new password</h3>
		<form method="POST" action="">
			{% csrf_token %}
			{{ form | crispy }}
			<input type="submit" class="btn btn-primary" value="Change it">
		</form>
	</div>
</div>
{% endblock %}