{% extends 'shortener/layout.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'shortener/css/bootstrap-social.css' %}">
<style type="text/css">
	.asteriskField {
		display: none;
	}
</style>
{% endblock %}

{% block messages %}
	{% include 'accounts/messages.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 mx-auto">
		{% if heading == 'Login' %}
			<p class="lead">Don't have an account ?</p>
			<a class="btn btn-social btn-block btn-google mb-3" href="{% url 'social:begin' 'google-oauth2' %}">
		    <span class="fa fa-google"></span>Sign in with Google
		</a>
		{% else %}
			<p class="lead">Feeling lazy to register?</p>
			<a class="btn btn-social btn-block btn-google mb-3" href="{% url 'social:begin' 'google-oauth2' %}">
		    <span class="fa fa-google"></span>Sign up with Google
		</a>
		{% endif %}
		<h2 class="h3">{{ heading }}</h2>
		<form method="POST" action="">
			{% csrf_token %}
			{{ form | crispy }}
			<div class="d-flex justify-content-between">
				<input type="submit" class="btn btn-primary" value="{{ heading }}">
				{% if forgot %}
					<a href="{% url 'password_reset' %}">Forgot Password?</a>
				{% endif %}
			</div>
		</form>
	</div>
</div>
{% endblock %}