{% extends 'shortener/layout.html' %}
{% load crispy_forms_tags %}

{% block style %}
<style type="text/css">
	.asteriskField {
		display: none;
	}
</style>
{% endblock %}

{% block messages %}
	{% include 'accounts/messages.html' %}
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-4 col-md-6 mx-auto">
		<h2 class="h2">{{ heading }}</h2>
		<form method="POST" action="">
			{% csrf_token %}
			{{ form | crispy }}
			<input type="submit" class="btn btn-primary" value="{{ heading }}">
		</form>
	</div>
</div>
{% endblock %}