body {
    background-image: url('../images/hero.jpg');
    background-size: cover;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-top: 60px;
    height: 100%;
}

html, body {
  height:100%;
  font-family: 'Raleway', sans-serif;
}

body {
  display:flex;
  align-items:center;
}

.navbar-nav {
  font-family: 'Raleway', sans-serif;
  font-size: 120% !important;
}

.navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 200% !important;
}



@media (max-width: 991px) {
  .navbar
    {
        background-color: grey!important;
    }

    .navbar-brand{
    font-size: 150% !important;
  }
}
